
<nav>
    <ul class="navbar">
        <li><a href="{{ url_for('about') }}" class="nav-btn">Home</a></li>
        <li><a href="{{ url_for('add_item') }}" class="nav-btn">Add Item</a></li>

        <li style="margin-left: auto;">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('logout') }}" class="nav-btn">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}" class="nav-btn login-btn">Login</a>
            {% endif %}
        </li>
    </ul>
</nav>